.container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.form {
  background-color: black;
  padding-top: 5rem;
  height: 300px;
  color: aliceblue;
}
.results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: blue;
}
